.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 18rem;
    margin: 10px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .grey-background {
    background-color: #ccc;
    width: 100%;
    height: 200px; 
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .card-link {
    margin-right: 10px;
  }

  .links{
    color: #be4b4bd9 !important;
    text-decoration: none !important;
  }
  
  .links:hover {
    text-decoration: underline !important;
  }

  .border_card{
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .center-align-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background-color: rgba(202, 32, 32, 0.26);
    height: 100vh;
  }
.background-gradient {  
background-color: #0093E9;
background-image: linear-gradient(160deg, #00cee991 0%, #d0c4807c 100%);
}

.index-bg{
  /* background-color: #FFDEE9; */
/* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */

}

.gallery-links{
  display: flex;
  justify-content: space-between;
}
.gallery-links a{
  margin: 0;
}
a {
  text-decoration: none !important;
}